.custom-select {
    background-color: aqua;
    border-width: 10px;
    border: blue;
    border-radius: 10;
    height: 35px;
    width: 50%;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
}

@media screen and (max-width: 500px) {
    h3 {
        height: 20px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h2 {
        height: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .panel {
        height: 500px;
    }
}

@media screen and (min-width: 500px) {
    .panel {
        height: 400px;
    }
}


/* Split the screen in half */

.split {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 100px;
    overflow-x: hidden;
    padding-top: 10;
}


/* Control the left side */

.left {
    left: 0;
    padding-left: 15%;
    /* background-color: #111; */
}


/* Control the right side */

.right {
    right: 0;
    padding-right: 15%;
    /* background-color: red; */
}